# Python
__pycache__/
.ipynb_checkpoints/

# Docker / Hadoop runtime
docker/namenode/
docker/datanode/
docker/tmp/
metastore_db/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
apache-hive-3.1.2-bin.tar.gz

apache-hive-3.1.2-bin.tar.gz
*.tar.gz
*.tgz